
{% extends 'theme.html' %}
{% block content %}
{% load static %}

<head>
    <title>Feed</title>
    <!-- Include Bootstrap CSS -->
    {% comment %} <link rel="stylesheet" href="{% static 'css/feedsstyle.css' %}" /> {% endcomment %}
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.0.0/css/fontawesome.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  
 <div class="mt-4">
        <div class=" d-flex justify-content-center">
            <div class="col-9">
                <div class="row">
                    <div class="col-8">

                        <!-- START OF STORIES -->
                        <div class="card new-post">


                          <div class="card shadow-0 ml-2 mr-2 mt-2 mb-2 ">
                            <div class="card-body  pb-2 ">
                              <div class="d-flex">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle"
                                  height="50" alt="Avatar" loading="lazy" />
                                <div class="d-flex align-items-center w-100 ps-3">
                                  <div class="w-100">
                                    <form method="post" action="{% url 'newsfeed' %}" enctype="multipart/form-data">
                                      {% csrf_token %}
                                      {{ addpostform.post }}
                                      <input type="hidden" name="form_type" value="post">
                                     
                                    {% comment %} <input type="text" id="form143" class="form-control form-status border-0 py-1 px-0"
                                      placeholder="What's happening" /> {% endcomment %}
                                  </div>
                                </div>
                              </div>
                              <div class="d-flex justify-content-between">
                                <ul class="list-unstyled d-flex flex-row ps-3 pt-3" style="margin-left: 50px;">
                                  <li>
                                    <a href="">{{ addpostform.image }}<i class="far fa- pe-2"></i></a>
                                  </li>
                                  <li>
                                    <a href=""><i class="fas fa-image px-2 pl-2"></i></a>
                                  </li>
                                 
                                </ul>
                                <div class="d-flex align-items-center">
                                  <button type="submit" class="btn btn-primary btn-rounded"> Post</button>

                                </div>
                              </form>
                              </div>
                            </div>
                          </div>

                        </div>
                        <!-- END OF STORIES -->

                        <!-- START OF POSTS -->
                        <div class="d-flex flex-column mt-4 mb-4">

                          {% for post in posts %}
      <div class="card pl-1" style="max-width: 80rem">
        
      
        <div class="card-body">
          <!-- Data -->
          <div class="d-flex mb-3">
            <a href="/viewprofile/{{ post.user }}">
              <img src="https://mdbcdn.b-cdn.net/img/new/avatars/18.webp" class="border rounded-circle me-2"
                alt="Avatar" style="height: 40px" />
            </a>
            <div>
              <a href="/viewprofile/{{ post.user }}" class="text-dark mb-0">
                <strong>{{post.user}}</strong>
              </a>
              <a href="#" class="text-muted d-block" style="margin-top: -6px">
                <small>{{post.created_date}}</small>
              </a>
            </div>
          </div>
          <!-- Description -->
          <div>
            <p>
              {{post.post}}
            </p>
          </div>
        </div>
        <!-- Media -->
        <div class="bg-image hover-overlay ripple rounded-1" data-mdb-ripple-color="light">
          <a href="/post/{{post.id}}">

          <img src='{{ post.image.url }} ' class="h-100 w-100  pl-3 pr-3 " />
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
          </a>
        </div>
        <!-- Media -->
        <!-- Interactions -->
        <div class="card-body">
          <!-- Reactions -->
          <div class="d-flex justify-content-between mb-3">
            <div>
              <a href="#">
                <i class="fas fa-thumbs-up text-primary"></i>
                <i class="fas fa-heart text-danger"></i>
                <span>{{ post.likes.count }}</span>
              </a>
            </div>
            <div>
              <a href="/post/{{post.id}}" class="text-muted"> {{post.commentcount}} comments </a>
            </div>
          </div>
          <!-- Reactions -->
    
          <!-- Buttons -->
          <div class="d-flex justify-content-between text-center border-top border-bottom mb-4">
            <button type="button" class="btn btn-link btn-lg" data-mdb-ripple-color="dark">
               <i class="fas fa-thumbs-up me-2"></i>

               {% if user in post.likes.all %}
                    <a href="{% url 'unlike_post' post.pk %}">Unlike</a>
                {% else %}
                    <a href="{% url 'like_post' post.pk %}">Like</a>
                {% endif %}


            </button>
            {% if post.user == user %}
            <form method="post" action="{% url 'deletepost' %}">

            <a class="btn btn-link btn-lg" data-mdb-ripple-color="dark">
              <i class="fas fa-trash me-2"></i>
                {% csrf_token %}
                {{ post.postdeleteform }}
                <input class="btn btn-link btn-lg" type="submit" value="Delete">
            </a>
            </form>
            {% endif %}



            <a href="/post/{{post.id}}" class="btn btn-link btn-lg" data-mdb-ripple-color="dark">
              <i class="fas fa-comment me-2"></i>Comment
            </a>
          </div>
          <!-- Buttons -->
    
          <!-- Comments -->
    
          <!-- Input -->
          <div class="d-flex mb-3">
            <a href="/viewprofile/{{ comment.user }}">
              <img src="https://mdbcdn.b-cdn.net/img/new/avatars/18.webp" class="border rounded-circle me-2"
                alt="Avatar" style="height: 40px" />
            </a>
            <div class="form-outline w-100">
              <div class="card-footer">
                <form method="post" action="{% url 'newsfeed' %}">
                  {% csrf_token %}
                  {{ post.comment_form.comment }}
                  <input type="hidden" name="form_type" value="comment">
                  <input type="hidden" name="post_id" value="{{ post.id }}">                   <button type="submit" class="btn btn-primary">Add Comment</button>
                </form>
              </div>                    <label class="form-label" for="textAreaExample">Write a comment</label>
            </div>
          </div>
    </div>

    <!-- comments -->
    {% for comment in post.comments %}

    <!--  comment -->
    <div class="d-flex mb-3">
      <a href="#">
        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="border rounded-circle me-2"
          alt="Avatar" style="height: 40px" />
      </a>
      <div>
        <div class="bg-light rounded-3 px-3 py-1">
          <a href="/viewprofile/{{ comment.user }}" class="text-dark mb-0">
            <strong> {{ comment.user }}</strong>
          </a>
          <a href="#" class="text-muted d-block">
            <small> {{ comment.comment }}</small>
          </a>
          <a href="#" class="text-muted d-block" style="margin-top: -6px">
            <small>{{comment.created_date}}</small>
            <div>
              <a href="#">
                <i class="fas fa-thumbs-up text-primary "></i>
                <span>{{ comment.like.count}}</span>
              </a>
            </div>
        </div>
        
        <a href="#" class="text-muted small ms-3 me-2"><strong>
          
          {% if user in comment.like.all %}
            <a href="{% url 'unlike_comment' comment.pk %}">Unlike</a>
        {% else %}
            <a href="{% url 'like_comment' comment.pk %}">Like</a>
        {% endif %}

        </strong></a>

        <a href="#" class="text-muted small me-2"><strong>


          {% if comment.user == user %}
          <a href="{% url 'delete_comment' comment.pk %}"> Delete </a>
                 
          {% endif %}


        </strong></a>
      </div>
    </div>
    {% endfor %}
  </div>

    {% endfor %}

                        </div>
                        <!-- END OF POSTS -->
                    </div>
                    <div class="col-4">
                        <div class="d-flex flex-row align-items-center">
                           
                            <div class="profile-info ml-3">
                                <span class="profile-info-username">People</span>
                                <span class="profile-info-name">you may know</span>
                            </div>
                        </div>

                        <div class="mt-4">
                            <div class="d-flex flex-row justify-content-between">
                                <small class="text-muted font-weight-normal">Suggestions For You</small>
                                <small>See All</small>
                            </div>
                            <div>
                                   <style>
                                    .rounded-circle {
                                      width: 50px;
                                      height: 50px;
                                      border-radius: 50%;
                                  }
                                   </style>  
                      
                                  <div class="col-13">
                                    <div class="list-group" id="list-tab" role="tablist">
                                      <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">
                                        {% for user in recommendations %}
                                          <img src="https://www.gravatar.com/avatar/{{ user.email}}" alt="" class="avatar rounded-circle"> 
                                          <p class="list-group">{{ user.username }}</p>
                                            {% if user in request.user.following.all %}
                                            <a href="{% url 'follow' username=user.username %}" class="btn btn-primary mb-2">Follow</a>
                                            {% else %}
                                            <a href="{% url 'follow' username=user.username %}" class="btn btn-primary mb-2">UnFollow</a>
                                            {% endif %}
                                        {% endfor %}

                                      </a>
                                    </div>
                                  </div>
                                </div>
                                  
                                

                                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
 
<!-- end of post create div -->
      <div class="card  ml-2 mr-2 mt-2 mb-2 border">
    
        




      </div>



</div>

{% endblock  %}

{% block script %}
    
    <!-- Include Bootstrap JavaScript -->
    
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>
      
{% endblock script %}