
{% extends 'theme.html' %}
{% block content %}
{% load static %}
<head>
    <title>Feed</title>
    <!-- Include Bootstrap CSS -->
    {% comment %} <link rel="stylesheet" href="{% static 'css/feedsstyle.css' %}" /> {% endcomment %}
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.0.0/css/fontawesome.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
   
    <div class="container-fluid   mt-2 ml-1 mr-1">
      <div class="row">
        <div class="col-8">
    <!-- Page Content  -->
      <h2 class="mb-1 mt-2 text-center"> <strong> Newsfeed </strong></h2>

      {% for post in posts %}
      <div class="card pl-2 mb" style="max-width: 70rem">
        
      
        <div class="card-body">
          <!-- Data -->
          <div class="d-flex mb-3">
            <a href="#">
              <img src="https://mdbcdn.b-cdn.net/img/new/avatars/18.webp" class="border rounded-circle me-2"
                alt="Avatar" style="height: 40px" />
            </a>
            <div>
              <a href="#" class="text-dark mb-0">
                <strong>{{post.user}}</strong>
              </a>
              <a href="#" class="text-muted d-block" style="margin-top: -6px">
                <small>{{post.created_date}}</small>
              </a>
            </div>
          </div>
          <!-- Description -->
          <div>
            <p>
              {{post.post}}
            </p>
          </div>
        </div>
        <!-- Media -->
        <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
          <a href="/post/{{post.id}}">

          <img src='{{ post.image.url }} ' class="w-50 pl-2 " />
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
          </a>
        </div>
        <!-- Media -->
        <!-- Interactions -->
        <div class="card-body">
          <!-- Reactions -->
          <div class="d-flex justify-content-between mb-3">
            <div>
              <a href="#">
                <i class="fas fa-thumbs-up text-primary"></i>
                <i class="fas fa-heart text-danger"></i>
                <span>{{ post.likes.count }}</span>
              </a>
            </div>
            <div>
              <a href="#" class="text-muted"> {{post.commentcount}} comments </a>
            </div>
          </div>
          <!-- Reactions -->
    
          <!-- Buttons -->
          <div class="d-flex justify-content-between text-center border-top border-bottom mb-4">
            <button type="button" class="btn btn-link btn-lg" data-mdb-ripple-color="dark">
               <i class="fas fa-thumbs-up me-2"></i>

               {% if user in post.likes.all %}
                    <a href="{% url 'unlike_post' post.pk %}">Unlike</a>
                {% else %}
                    <a href="{% url 'like_post' post.pk %}">Like</a>
                {% endif %}


            </button>
            {% if post.user == user %}
            <form method="post" action="{% url 'deletepost' %}">

            <a class="btn btn-link btn-lg" data-mdb-ripple-color="dark">
              <i class="fas fa-trash me-2"></i>
                {% csrf_token %}
                {{ post.postdeleteform }}
                <input class="btn btn-link btn-lg" type="submit" value="Delete">
            </a>
            </form>
            {% endif %}



            <a href="/post/{{post.id}}" class="btn btn-link btn-lg" data-mdb-ripple-color="dark">
              <i class="fas fa-comment me-2"></i>Comment
            </a>
          </div>
          <!-- Buttons -->
    
          <!-- Comments -->
    
          <!-- Input -->
          <div class="d-flex mb-3">
            <a href="#">
              <img src="https://mdbcdn.b-cdn.net/img/new/avatars/18.webp" class="border rounded-circle me-2"
                alt="Avatar" style="height: 40px" />
            </a>
            <div class="form-outline w-100">
              <div class="card-footer">
                <form method="post" action="{% url 'newsfeed' %}">
                  {% csrf_token %}
                  {{ post.comment_form.comment }}
                  <input type="hidden" name="form_type" value="comment">
                  <input type="hidden" name="post_id" value="{{ post.id }}">                   <button type="submit" class="btn btn-primary">Add Comment</button>
                </form>
              </div>                    <label class="form-label" for="textAreaExample">Write a comment</label>
            </div>
          </div>
    </div>

    <!-- comments -->
    {% for comment in post.comments %}

    <!--  comment -->
    <div class="d-flex mb-3">
      <a href="#">
        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="border rounded-circle me-2"
          alt="Avatar" style="height: 40px" />
      </a>
      <div>
        <div class="bg-light rounded-3 px-3 py-1">
          <a href="#" class="text-dark mb-0">
            <strong> {{ comment.user }}</strong>
          </a>
          <a href="#" class="text-muted d-block">
            <small> {{ comment.comment }}</small>
          </a>
          <a href="#" class="text-muted d-block" style="margin-top: -6px">
            <small>{{comment.created_date}}</small>
            <div>
              <a href="#">
                <i class="fas fa-thumbs-up text-primary "></i>
                <span>{{ comment.like.count}}</span>
              </a>
            </div>
        </div>
        
        <a href="#" class="text-muted small ms-3 me-2"><strong>
          
          {% if user in comment.like.all %}
            <a href="{% url 'unlike_comment' comment.pk %}">Unlike</a>
        {% else %}
            <a href="{% url 'like_comment' comment.pk %}">Like</a>
        {% endif %}

        </strong></a>
        <a href="#" class="text-muted small me-2"><strong>Reply</strong></a>
      </div>
    </div> 
    {% endfor %}
  </div>

    {% endfor %}

</div>







<div class="col-4 border border-solid mb-2 ml-1 mt-1 justify-content-end">

      <div class="p-4 pt-5 border border-solid mt-5 ">
        <h5>Add New Post</h5>
        
      
          <form method="post" action="{% url 'newsfeed' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ addpostform.as_p }}
            <input type="hidden" name="form_type" value="post">
            <button type="submit" class="btn btn-primary form-control">Add Post</button>
          </form>
      </div> 
    </div> 







    <!-- Include Bootstrap JavaScript -->
    <script>
    function search() {
      // Get the search term
      var query = document.getElementById('search-input').value;
    
      // Show or hide the search results container
      if (query) {
        document.getElementById('search-results-container').style.display = 'block';
      } else {
        document.getElementById('search-results-container').style.display = 'none';
      }
    
      // Send an AJAX request to the server
      var xhr = new XMLHttpRequest();
      xhr.open('GET', '/search?q=' + query, true);
      xhr.onload = function() {
        if (xhr.status === 200) {
          // Update the search results
          var results = JSON.parse(xhr.responseText).results;
          var html = '';
          for (var i = 0; i < results.length; i++) {
            html += '<li><a href="' + results[i].profile_url + '">' + results[i].username + '</a></li>';
          }
          document.getElementById('search-results').innerHTML = html;
        }
      };
      xhr.send();
    }
    
    // Add an event listener to the search input
    document.getElementById('search-input').addEventListener('input', search);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYU
  
    
  </div> 
</div> 

{% endblock  %}