{% extends 'theme.html' %}
{% block content %}
{% load static %}

<head>
    <title>{{user.usernname}}'s Profile </title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>


    <section class="h-100  gradient-custom-2">
        <div class=" py-5 h-100  ">
          <div class="row d-flex justify-content-center align-items-center h-100 ">
            <div class="col col-lg-9 col-xl-7">
              <div class="card ">
                <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                  <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                      alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                      style="width: 150px; z-index: 1">
                    
                    
                  </div>
                  <div class="ms-3" style="margin-top: 130px;">
                    <h5>{{user.first_name}} {{user.last_name}}</h5>
                    <p>India</p>
                   
                  </div>
                  
                </div>
                <div class="p-4 text-black" style="background-color: #f8f9fa;">
                        <form method="post" action="{% url 'follow' username=user.username %}">
                            {% csrf_token %}
                            {% if is_following %}
                                <button type="submit" class="btn btn-outline-primary form-control " name="follow" value="unfollow" data-mdb-ripple-color="dark"
                                style="z-index: 1;">Unfollow</button>
                            {% else %}
                                <button type="submit" class="btn btn-outline-primary form-control" name="follow" value="follow" data-mdb-ripple-color="dark"
                                style="z-index: 1;">Follow</button>
                            {% endif %}
                        </form> 
                  <div class="d-flex justify-content-center text-center py-1">
                    <div>
                      <p class="mb-1 h5">{{posts_count}}</p>
                      <p class="small text-muted mb-0">Posts</p>
                    </div>
                    <div class="px-3">
                      <p class="mb-1 h5">{{following_count}}</p>
                      <p class="small text-muted mb-0">Followers</p>
                    </div>
                    <div>
                      <p class="mb-1 h5">0</p>
                      <p class="small text-muted mb-0">Following</p>
                    </div>
                  </div>
                </div>
                <div class="card-body p-4 text-black text-center">
                  <div class="mb-5">
                    <p class="lead fw-normal mb-1">About</p>
                    <div class="p-4" style="background-color: #f8f9fa;">
                      <p class="font-italic mb-1">
                        Bio: 
                        {% if profile %}
                        {{profile.bio}}
                        {% endif %}

                      </p>
                      {% if user %}

                      <p class="font-italic mb-1"> Contact:    {{user.email}}
                    </p>
                      <p class="font-italic mb-0">Last Seen on     {{user.last_login}}
                    </p>
                      {% endif %}
                    </div>
                  </div>

                  <div class="d-flex justify-content-between  mb-4">
                    

                  <div class="container">
                    <p class="lead fw-normal mb-0">Recent Posts</p>
                    <p class="mb-0"><a href="#!" class="text-muted">
                        
                    </a></p>
                      {% for post in posts_feed %}
                      
      
      
                        <div class="card pl-1" style="max-width: 80rem">
                                
                              
                                <div class="card-body">
                                  <!-- Data -->
                                  <div class="d-flex mb-3">
                                    <a href="/viewprofile/{{ post.user }}">
                                      <img src="https://mdbcdn.b-cdn.net/img/new/avatars/18.webp" class="border rounded-circle me-2"
                                        alt="Avatar" style="height: 40px" />
                                    </a>
                                    <div>
                                      <a href="/viewprofile/{{ post.user }}" class="text-dark mb-0">
                                        <strong>{{post.user}}</strong>
                                      </a>
                                      <a href="#" class="text-muted d-block" style="margin-top: -6px">
                                        <small>{{post.created_date}}</small>
                                      </a>
                                    </div>
                                  </div>
                                  <!-- Description -->
                                  <div>
                                    <p>
                                      {{post.post}}
                                    </p>
                                  </div>
                                </div>
                                <!-- Media -->
                                <div class="bg-image hover-overlay ripple rounded-1" data-mdb-ripple-color="light">
                                  <a href="/post/{{post.id}}">
      
                                  <img src='{{ post.image.url }} ' class="h-100 w-100  pl-3 pr-3 " />
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                  </a>
                                </div>
                                <!-- Media -->
                                <!-- Interactions -->
                                <div class="card-body">
                                  <!-- Reactions -->
                                  <div class="d-flex justify-content-between mb-3">
                                    <div>
                                      <a href="#">
                                        <i class="fas fa-thumbs-up text-primary"></i>
                                        <i class="fas fa-heart text-danger"></i>
                                        <span>{{ post.likes.count }}</span>
                                      </a>
                                    </div>
                                    <div>
                                      <a href="/post/{{post.id}}" class="text-muted"> {{post.commentcount}} comments </a>
                                    </div>
                                  </div>
                                  <!-- Reactions -->
                            
                                  <!-- Buttons -->
                                  <div class="d-flex justify-content-between text-center border-top border-bottom mb-4">
                                    <button type="button" class="btn btn-link btn-lg" data-mdb-ripple-color="dark">
                                      <i class="fas fa-thumbs-up me-2"></i>
      
                                      {% if user in post.likes.all %}
                                            <a href="{% url 'unlike_post' post.pk %}">Unlike</a>
                                        {% else %}
                                            <a href="{% url 'like_post' post.pk %}">Like</a>
                                        {% endif %}
      
      
                                    </button>
                                    {% if post.user == user %}
                                    <form method="post" action="{% url 'deletepost' %}">
      
                                    <a class="btn btn-link btn-lg" data-mdb-ripple-color="dark">
                                      <i class="fas fa-trash me-2"></i>
                                        {% csrf_token %}
                                        {{ post.postdeleteform }}
                                        <input class="btn btn-link btn-lg" type="submit" value="Delete">
                                    </a>
                                    </form>
                                    {% endif %}
      
      
      
                                    <a href="/post/{{post.id}}" class="btn btn-link btn-lg" data-mdb-ripple-color="dark">
                                      <i class="fas fa-comment me-2"></i>Comment
                                    </a>
                                  </div>
                                  <!-- Buttons -->
                            
                                  <!-- Comments -->
                            
                                  <!-- Input -->
                                  {% comment %} <div class="d-flex mb-3">
                                   <a href="/viewprofile/{{ comment.user }}">
                                      <img src="https://mdbcdn.b-cdn.net/img/new/avatars/18.webp" class="border rounded-circle me-2"
                                        alt="Avatar" style="height: 40px" />
                                    </a> 
                                  <div class="form-outline w-100">
                                      <div class="card-footer">
                                        <form method="post" action="{% url 'newsfeed' %}">
                                          {% csrf_token %}
                                          {{ post.comment_form.comment }}
                                          <input type="hidden" name="form_type" value="comment">
                                          <input type="hidden" name="post_id" value="{{ post.id }}">                   <button type="submit" class="btn btn-primary">Add Comment</button>
                                        </form>
                                      </div>                    <label class="form-label" for="textAreaExample">Write a comment</label>
                                    </div> 
                                  </div> {% endcomment %}
                            </div>
      
                            <!-- comments -->
                            {% for comment in post.comments %}
      
                            <!--  comment -->
                            <div class="d-flex mb-3">
                              <a href="#">
                                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="border rounded-circle me-2"
                                  alt="Avatar" style="height: 40px" />
                              </a>
                              <div>
                                <div class="bg-light rounded-3 px-3 py-1">
                                  <a href="/viewprofile/{{ comment.user }}" class="text-dark mb-0">
                                    <strong> {{ comment.user }}</strong>
                                  </a>
                                  <a href="#" class="text-muted d-block">
                                    <small> {{ comment.comment }}</small>
                                  </a>
                                  <a href="#" class="text-muted d-block" style="margin-top: -6px">
                                    <small>{{comment.created_date}}</small>
                                    <div>
                                      <a href="#">
                                        <i class="fas fa-thumbs-up text-primary "></i>
                                        <span>{{ comment.like.count}}</span>
                                      </a>
                                    </div>
                                </div>
                                
                                <a href="#" class="text-muted small ms-3 me-2"><strong>
                                  
                                  {% if user in comment.like.all %}
                                    <a href="{% url 'unlike_comment' comment.pk %}">Unlike</a>
                                {% else %}
                                    <a href="{% url 'like_comment' comment.pk %}">Like</a>
                                {% endif %}
      
                                </strong></a>
      
                                <a href="#" class="text-muted small me-2"><strong>
      
      
                                  {% if comment.user == user %}
                                  <a href="{% url 'delete_comment' comment.pk %}"> Delete </a>
                                        
                                  {% endif %}
      
      
                                </strong></a>
                              </div>
                            </div>
                            {% endfor %}
                          </div>
      
      
      
                                          
                                        {% endfor %}
                                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    
    {% endblock %}

    {% block script %}

    
      <script src="{% static 'js/bootstrap.min.js' %}"></script>

      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>
    {% endblock script %}